<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <h1>No such account found</h1>
    <form method = "get" action = "/login">
        <h2>Would you like to try again?</h2>
        <button>Try again</button>
    </form>
</body>
</html>