<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel = "stylesheet" href = "/style.css">
</head>
<body>
    <h1>Login</h1>
    <form method = "post" action = "/login">
        <label for = "username">Username</label>
        <input placeholder="Enter username" type = "text" name="username">
        <br>
        <br>
        <label for = "password">Password</label>
        <input placeholder="Enter password" type = "password" name="password">
        <br>
        <br>
        <button>Login</button>
    </form>
</body>
</html>